<div class="text-center">

  <div id='existing-post-box'>
    <h2>{{title}}</h2>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
    <p>{{content}}</p>
  </div>

  <div id='comment-box'>
    <p>Comment:</p>
    <textarea placeholder="Leave a Comment!"></textarea>
    <p>
      <button class="btn btn-primary">Submit</button>
    </p>
  </div>

</div>